<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="mb-4">
    <form action="/login" method="POST">
        <h3>Client Login</h3>
        <h4>User Name</h4>
        <input type="text" name="username" required autofocus>
        <h4>Password</h4>
        <input type="password" name="password" required autofocus><br>
        <input type="submit"  value="login">
        <input type="button" onclick="location.href='/register'; " value="register" />
    </form>
    </div>
    <!-- <div class="mt-4" >
        <h3>Admin Login</h3>
        <form action="/admin" method="POST">
            <h4>User Name</h4>
            <input type="text" name="name" required autofocus>
            <h4>Password</h4>
            <input type="password" name="password" required autofocus><br>
            <input type="submit" value="login">
        </form>

    </div> -->
    
</body>
</html>